{% load static %}
<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>仪表列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/flow-meter.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">
            <cite>仪表列表</cite>
        </a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">

                        <div class="layui-inline layui-show-xs-block" id="manufacturer_input">
                            <select name="manufacturer_id" lay-search="" id="manufacturer" lay-filter="manufacturer">
                                <option value="">供气商</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block" id="dtu_user_input">
                            <select name="dtu_user_id" lay-search="" id="dtu_user" lay-filter="dtu_user">
                                <option value="">DTU用户</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select name="dtu_id" lay-search="" id="dtu">
                                <option value="">DTU</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table lay-filter="meter" id="meter">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-danger" lay-event="del_batch">
        <i class="layui-icon"></i>批量删除
    </button>
    <button class="layui-btn" onclick="xadmin.open('添加DTU','/meter/add/',700,500)">
        <i class="layui-icon"></i>添加
    </button>
    <button class="layui-btn" onclick="xadmin.open('添加DTU','/dtu/add/',700,500)">
        查询
    </button>
    <button class="layui-btn" onclick="xadmin.open('添加DTU','/dtu/add/',700,500)">
        开阀
    </button>
    <button class="layui-btn" onclick="xadmin.open('添加DTU','/dtu/add/',700,500)">
        关阀
    </button>
    <button class="layui-btn" onclick="xadmin.open('添加DTU','/dtu/add/',700,500)">
        打开预充值
    </button>
    <button class="layui-btn" onclick="xadmin.open('添加DTU','/dtu/add/',700,500)">
        关闭预充值
    </button>
    <button class="layui-btn" onclick="xadmin.open('添加DTU','/dtu/add/',700,500)" style="margin-right: 20px">
        重启仪表
    </button>
    <div class="layui-inline layui-show-xs-block">
        <input type="text" name="query_box" placeholder="" autocomplete="off"
               class="layui-input" id="query_box">
    </div>
    <button class="layui-btn" onclick="xadmin.open('添加DTU','/dtu/add/',700,500)">
        充值
    </button>
</script>
<script>
    layui.use(['table', 'form', 'jquery', 'element', 'tree'],
        function () {

            $ = layui.jquery;
            table = layui.table;
            form = layui.form;

            table.render({
                elem: '#meter', //指定原始表格元素选择器（推荐id选择器）
                cols: [[
                    {checkbox: true, width: '5%', field: 'id'},
                    {
                        numbbers: true,
                        width: '5%',
                        title: '序号',
                        templet: function (data) {
                            return data.LAY_TABLE_INDEX + 1;
                        }
                    },
                    {field: 'dtu_no', title: 'DTU编号'},
                    {field: 'address', title: '物理地址', edit: 'text',},
                    {field: 'surplus_gas', title: '剩余气量(m³)'},
                    {field: 'total_flow', title: '累计用量(m³)'},
                    {field: 'surplus_gas_limits', title: '气量限值(m³)', edit: 'text',},
                    {field: 'flow_rate', title: '瞬时流量'},
                    {field: 'flow_ratio', title: '流量系数', edit: 'number',},
                    {field: 'power', title: '电池电压'},
                    {field: 'temperature', title: '温度'},
                    {field: 'version', title: '版本'},
                    {field: 'last_update_time', title: '更新时间'},
                    {field: 'remark', edit: 'text', title: '备注'},
                    {
                        field: 'state',
                        title: '仪表状态',
                        templet: function (d) {
                            return "<button class=\"layui-btn\" onclick=\"xadmin." +
                                "open('仪表状态','/meter/state/?id=" + d['state_id'] + "&meter_id=" + d['id'] + "',300, 600)\">查看</button>";
                        }
                    },
                ]],
                url: '/handler/meter/?action=query_meter',
                page: true,
                toolbar: '#toolbarDemo',
                defaultToolbar: [],
            });
            //监听单元格编辑
            table.on('edit(meter)',
                function (obj) {
                    let data = {
                        "id": parseInt(obj.data['id']),
                        "address": parseInt(obj.data['address']),
                        "surplus_gas_limits": parseFloat(obj.data['surplus_gas_limits']),
                        "flow_ratio": obj.data['flow_ratio']
                    };
                    if( data['flow_ratio'] === '未知'){
                        data['flow_ratio'] = -1.0
                    }
                    post({
                        "param": JSON.stringify(data),
                        "action": "update_meter"
                    }, '/handler/meter/', function (data) {
                        if (!data.success) {
                            layer.msg(data.msg, {icon: 5, time: 2000});
                        }
                    });
                });

            //头工具栏事件
            table.on('toolbar(meter)',
                function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'del_batch':
                            layer.confirm('确认要删除吗？', function (index) {
                                let checkStatus = table.checkStatus('meter');
                                let ids = [], state_ids = [];
                                for (let i = 0; i < checkStatus.data.length; i++) {
                                    ids.push(checkStatus.data[i].id);
                                    state_ids.push(checkStatus.data[i].state_id);
                                }
                                post({
                                    "param": JSON.stringify({'meter_ids': ids, 'state_ids': state_ids}),
                                    "action": "del_batch_meter"
                                }, '/handler/meter/', function (data) {
                                    if (!data.success) {
                                        layer.msg(data.msg, {icon: 5, time: 1000});
                                    } else {
                                        layer.msg('删除成功!', {icon: 1});
                                        table.reload('meter');
                                    }
                                });
                            });
                            break;
                    }
                });
            //监听提交
            form.on('submit(search)',
                function (data) {
                    table.reload('meter', {
                        "where": {
                            "param": JSON.stringify(data.field),
                        }
                    });
                    return false;
                });

            get({
                "param": JSON.stringify({}),
                "action": "query_manufacturer"
            }, '/handler/manufacturer/', function (res) {
                if (!res.success) {
                    layer.msg(res.msg, {icon: 5, time: 1000});
                } else {
                    for (let i = 0; i < res.data.length; i++) {
                        $("#manufacturer").append('<option value="' + res.data[i].id + '">'
                            + res.data[i].name + '(' + res.data[i].phone + ')' + '</option>');
                    }
                    form.render('select');
                }
            });

            form.on('select(manufacturer)', function () {

                let man_id = $("#manufacturer_input").find('.layui-this').attr('lay-value');
                $("#dtu_user").children().remove();
                $("#dtu_user").append('<option value="">DTU用户</option>');
                form.render('select');
                if (man_id === "") {
                    return;
                }
                get({
                    "param": JSON.stringify({'man_id': man_id}),
                    "action": "query_dtu_user_by_man_id"
                }, '/handler/user/', function (res) {
                    if (!res.success) {
                        layer.msg(res.msg, {icon: 5, time: 1000});
                    } else {

                        for (let i = 0; i < res.data.length; i++) {
                            $("#dtu_user").append('<option value="' + res.data[i].id + '">'
                                + res.data[i].name + '(' + res.data[i].phone + ')' + '</option>');
                        }
                        form.render('select');
                    }
                });


            });

            form.on('select(dtu_user)', function () {

                let user_id = $("#dtu_user").val();

                $("#dtu").children().remove();
                $("#dtu").append('<option value="">DTU</option>');
                form.render('select');
                if (user_id === "") {
                    return;
                }

                get({
                    "param": JSON.stringify({'user_id': user_id}),
                    "action": "query_dtu_by_user_id"
                }, '/handler/user/', function (res) {
                    if (!res.success) {
                        layer.msg(res.msg, {icon: 5, time: 1000});
                    } else {

                        for (let i = 0; i < res.data.length; i++) {
                            $("#dtu").append('<option value="' + res.data[i].id + '">' + res.data[i]['dtu_no'] + '</option>');
                        }
                        form.render('select');
                    }
                });


            });

        });
</script>
<script>var _hmt = _hmt || [];
(function () {

})();</script>

</html>